
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #100e17;
  position: relative;
}

.section-button-meny {
  position: relative;

  margin-top: 20px;
  margin-bottom: 20px;
}

.button-meny-keys {
  font-weight: 400;
  font-size: 1rem;
  background-color: #201c29;
  color: #ffffe8;
  border-style: dotted;
  border-radius: 25px;
  border: 2px solid #fff;
  width: 160px;
  height: 50px;
}

.alternative-second-meny {
  position: relative;

  margin-bottom: 20px;
}

.alt-sec-btn {
  outline: none;
  border: none;
  cursor: pointer;
  /* display: block; */
  position: relative;
  background-color: #fcad26;
  font-size: 16px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 25px 80px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px #efa424;
}

.alt-sec-btn:hover {
  box-shadow: 0 4px #efa424;
  top: 2px;
  font-size: 14px;
}

.alt-sec-btn:active {
  box-shadow: none;
  top: 6px;
  font-size: 12px;
}

.button-meny-keys:hover {
  font-weight: 400;
  font-size: 1rem;
  background-color: #38353e;
  color: #ffffe8;
  border-style: dotted;
  border-radius: 25px;
  border: 2px solid #fff;
  width: 160px;
  height: 50px;
  cursor: pointer;
}

.bootstrap-buttons {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.space {
  height: 60px;
}

.lead {
  /* font-style: italic; */
}

.thin-line {
  position: absolute;
  background-color: #201c29;
  width: 100%;
  height: 1px;
}

.title {
  font-size: 5rem;
  color: #fff;

  letter-spacing: 5.5px;
  position: absolute;
  margin-top: 20px;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
}

.title-sub {
  font-size: 3rem;
  color: #fff;
  font-size: 1rem;

  letter-spacing: 12px;
  position: absolute;
  margin-top: 20px;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
}
